<li class="vd-domain-item{{#if styleModifier}} {{ styleModifier }}{{/if}}">
  <a href="{{#if url}}{{ url }}{{else}}#{{/if}}" class="vd-link-invisible">
    <span class="vd-domain-item-title h2 d-block">{{ name }}</span>
    <span class="sr-only">Exemple de contenu: </span><span class="vd-domain-item-text small mb-0">{{ description }}</span>
  </a>
</li>
