<li class="vd-domain-item{{#if styleModifier}} {{ styleModifier }}{{/if}}">
  <a href="{{#if url}}{{ url }}{{else}}#{{/if}}" class="vd-link-invisible">
    <h5 class="vd-domain-item-title h2 font-weight-normal">{{ name }}</h5>
    <p class="vd-domain-item-text small mb-0">{{ description }}</p>
  </a>
</li>
