<h2>{{ name }}</h2>
<p>{{ address.street }} <br>{{ address.postal-code }} {{ address.location }}</p>

{{render '@list-icon'}}

<a href="#0" class="btn btn-primary btn-sm vd-btn-chevron-r mt-2">Contacter l'office</a>
