<nav>
  <ul class="nav flex-column vd-nav-side">
    {{#each items}}
    <li class="nav-item">
      <a class="nav-link{{#if active}} active{{/if}}" href="{{ url }}"{{#if title}} title="{{title}}"{{/if}}>{{ name }}</a>
      {{#if items}}
        <ul>
          {{#each items}}
          <li class="nav-item">
            <a class="nav-link{{#if active}} active{{/if}}" href="{{ url }}"{{#if title}} title="{{title}}"{{/if}}>{{ name }}</a>
          </li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</nav>
