<h2>Images</h2>
<div class="media-lists">
  {{render '@figure--default' }}
  {{render '@figure--default' }}
  {{render '@figure--default' }}
  {{render '@figure--default' }}
  {{render '@figure--default' }}
  {{render '@figure--default' }}
  {{render '@figure--default' }}
  {{render '@figure--default' }}
  {{render '@figure--default' }}
  {{render '@figure--default' }}
</div>
