<figure class="figure{{#if styleModifier}} {{ styleModifier}}{{/if}}">
  <div class="vd-figure-img-container">
    {{#if image.source}}
    <picture class="figure-img">
      {{#each image.source}}
      <source media="{{ media }}" srcset="{{ srset }}">
      {{/each}}
      {{> @image-responsive image.default }}
    </picture>
    {{else}}
    {{> @image-responsive image.default }}
    {{/if}}
    <span class="vd-figure-category">{{ category }}</span>
  </div>
  <figcaption class="figure-caption">{{ caption.text }}
    <span class="vd-figure-credits">{{ caption.credit }}</span>
  </figcaption>
</figure>
