{{#each domains}}
<a href="{{#if url}}{{ url }}{{else}}#{{/if}}" {{#if ../wrapperClass}}class="{{ ../wrapperClass }}"{{/if}}>
  <h5 class="vd-teaser-link-title">{{ name }}</h5>
  <p class="vd-teaser-link-text">{{ description }}</p>
</a>
{{/each}}
