{{#each domains}}
<a href="{{#if url}}{{ url }}{{else}}#{{/if}}" class="vd-teaser-link{{#if ../wrapperClass}} {{ ../wrapperClass }}{{/if}}">
  <h5 class="vd-teaser-link-title">{{ name }}</h5>
  <p class="vd-teaser-link-text">{{ description }}</p>
</a>
{{/each}}
