{{> @header }}

{{> @page-title-banner }}

{{#if searchForm}}
{{render '@search-banner--default' searchForm merge=true}}
{{/if}}

<main id="main" class="container mt-3">

  {{> @page-title }}

  <div class="row">

    <div class="col-md-8">

      <h2>Dans ce thème</h2>
      <div class="vd-bg-pattern-green p-1 mb-1">
        {{> @list-boxed prestations}}
        {{#if searchForm}}{{> @button--default text="Voir moins" title="Afficher moins de prestations" href="theme--default"}}{{else}}<p>{{> @button--default text="Voir tout" title="Afficher toutes les préstations" href="theme--list"}}</p>{{/if}}
      </div>

      <h2 class="sr-only">Pages d'informations</h2>
      {{render '@list-links'}}

    </div>

    <aside class="col-md-4 small">
      {{#if sidebar}}
      {{render '@autority-info'}}
      {{render '@autority-info'}}
      {{else}}
      {{render '@autority-address'}}
      {{/if}}
    </aside>
  </div>
</main>

{{> @footer }}
